body {
    background-color: black;
    font-family: 'Metal Mania', cursive;
    color: white;
    margin: 0;
}

a {
    display: block;
    width: 60%;
    text-decoration: none;
    color: white;
    background-color: rgb(61, 61, 61);
}

#banner {
    width: 100%;
}

.mainLink {
    padding: .5em;
    margin: .5em auto .5em auto;
    font-size: 1.3em;
}

.mainLink:focus, .mainLink:hover {
    color:red;
}

a:focus,
a:hover {
    color: white;
}

h1 {
    background-color: white;
    color: black;
    padding: .5em;
    top: 0;
    left: 0;
    margin: 0 0 1em 0;
}

h3 {
    text-align: center;
}

#spotifyLink {
    position: fixed;
    font-size: 1.5em;
    padding: 1em;
    width: 100%;
    bottom: 0;
    left: 0;
    color: red;
}

#spotifyLink:hover {
    color: white;
}

.test {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    float: left;
    padding: .4em 0 0 .4em;
}

#wrapper {
    width: 800px;
    margin: 1em auto 1em auto;
}

.selected {
    background-color: red;
}

.hide {
    display: none;
}

  span {
    color: #000;
    font-size: 3em;
    text-transform: lowercase;
    vertical-align: middle;
    letter-spacing: .1em;
  }
  
  .fire {
    animation: animation 1s ease-in-out infinite alternate;
    -moz-animation: animation 1s ease-in-out infinite alternate;
    -webkit-animation: animation 1s ease-in-out infinite alternate;
    -o-animation: animation 1s ease-in-out infinite alternate;
  }
  
  .burn {
    animation: animation .65s ease-in-out infinite alternate;
    -moz-animation: animation .65s ease-in-out infinite alternate;
    -webkit-animation: animation .65s ease-in-out infinite alternate;
    -o-animation: animation .65s ease-in-out infinite alternate;
  }
  
  @keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }
  
  @-moz-keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }
  
  @-webkit-keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }
  
  @-o-keyframes animation
  {
  0% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #feec85,
    -20px -20px 40px #ffae34,
    20px -40px 50px #ec760c,
    -20px -60px 60px #cd4606,
    0 -80px 70px #973716,
    10px -90px 80px #451b0e;}
  100% {text-shadow: 0 0 20px #fefcc9,
    10px -10px 30px #fefcc9,
    -20px -20px 40px #feec85,
    22px -42px 60px #ffae34,
    -22px -58px 50px #ec760c,
    0 -82px 80px #cd4606,
    10px -90px 80px  #973716;}
  }