<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Year</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <form action="month" method="get">
            <label for="year">Year</label>
            <input id="year" type="number" name="year" value="2020" min="2020" max="2030" autofocus>
            <input type="submit">
        </form>
    </main>

    <script src="/js/main.js"></script>
</body>

</html>