<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marijn's datepicker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <h1>The MOST Metal Datepicker in the world!!!!</h1>
        <p>To navigate, use tab between sections. Change values using the up and down arrows</p>
        <p>Press Enter to submit the form!</p>
        <h2>Now press Enter to continue</h2>
        <a href="home" autofocus>Continue</a>
    </main>
    <script src="/js/main.js"></script>
</body>

</html>