body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
    margin: auto;
    width:60%;
    margin-top: 5em;
    font-size: 2em;
}

label {
    font-size: 2em;
    display: block;
}

input {
    font-size: 2em;
    margin-top: 1em;
}

article {
    display: flex;
    justify-content: center;
}

a {
    margin: .5em;
    text-decoration: none;
    color:white;
}

a:focus {
    color: red;
}