body {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
    margin: auto;
    width:40%;
    margin-top: 5em;
    font-size: 2em;
}

label {
    font-size: 2em;
    display: block;
}

input {
    font-size: 2em;
    display: block;
    margin-top: 1em;
}
