html {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: white;
    font-family: 'Metal Mania', cursive;

}

p{
    font-size: 1.5em;
}

label {
    font-size: 1.8em;
    display: block;
}

input {
    font-size: 1.8em;
    margin-top: 1em;
}

section {
    text-align: center;
    width:60%;
    margin: 1em auto 1em auto;
    font-size: 1em;
    font-size: 2em;
}

a {
    margin: 0;
    text-decoration: none;
    color:white;
}

a:focus {
    color: red;
}

div {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(36, 36, 36);
    position: absolute;
}

div > h1, div > h2 {
    padding-left: .3em;
}

audio {
    padding: 0em 0em 1em 1em;
}

#help {
    background-color: red;
    width: 100%;
    text-align: center;
}