<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marijn's datepicker</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet">
</head>

<body>
    <main>
        <h2 id="help">Press Enter to Submit</h2>
        <section>
            <h1>Day</h1>
            <a href="#" id="firstDayNumber" class="move" autofocus>1</a>
            <a href="#" id="secondDayNumber" class="move">5</a>
            <h1>Month</h1>
            <a href="#" id="Month" class="move">April</a>
            <h1>Year</h1>
            <a href="#" id="Year" class="move">2020</a>
        </section>
        <h2 id="help">Press CTRL to play and Shift to pause</h2>
        <div id="audio">
        <h2>Song of the year: </h2>
        <h1>Five Finger Death Punch - Living the Dream</h1><audio id="SoTY" controls><source src="/audio/(2020) Five Finger Death Punch - Living the Dream.mp3" type="audio/mpeg"></audio>
        </div>

    </main>

    <script src="/js/main.js"></script>
</body>

</html>