<!doctype html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Metal+Mania&display=swap" rel="stylesheet">
</head>

<body>
    <h1>Marijn's Datepicker</h1>
    <main>
        <div id="wrapper"></div>
    </main>
    <a id="spotifyLink" target="_blank"
        href="https://open.spotify.com/playlist/37i9dQZF1DX2LTcinqsO68?si=nAmTQc68R3aSUXF2wRF1Dg">Hier is
        je gegenereerde playlist voor onderweg</a>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/js/datepicker.js"></script>
</body>

</html>